.container {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.gambar {
    background-size: cover !important;
    aspect-ratio: 12/9;
    object-fit: cover;
    width: 100%;
    flex-shrink: 0;
    flex: 0 0 60%;
    border-right: 1px solid #eee;
    position: relative;
}

.nama {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    color: white;
    border-bottom: 3px solid yellow;
}

@media(max-width: 768px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
        display: block !important;
        min-height: inherit !important;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
}