.sidebar {
    align-self: stretch;
    justify-self: stretch;
    width: 100%;
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
}

.header-info {
    display: flex;
    flex-direction: column;
    padding: 24px 20px 16px;
    flex-shrink: 0;
}

.profile-info {
    margin: 24px 0px 0px;
    background-color: rgba(145, 158, 171, 0.12);
    padding: 16px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.profile-info span {
    margin-left: 16px;
}

.profile-info-picture-container {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.profile-info-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-content {
    list-style: none;
    margin: 0px;
    padding: 0px 16px;
    position: relative;
}

.sidebar-header {
    box-sizing: border-box;
    list-style: none;
    padding: 24px 16px 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 11px;
    text-transform: uppercase;
    color: rgb(99, 115, 129);
}

.sidebar-list a {
    outline: 0px;
    border: 0px none;
    margin: 0px 0px 4px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 12px 8px 16px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: relative;
    text-transform: capitalize;
    color: rgb(99, 115, 129);
    border-radius: 8px;
    height: 48px;
}

.collapsed-sidebar-list a {
    height: inherit !important;
}

.sidebar-list a h6 {
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebar-list:hover {
    text-decoration: none;
    background-color: rgba(145, 158, 171, 0.08);
}

.sidebar-list-active a {
    color: rgb(0, 171, 85) !important;
    background-color: rgba(0, 171, 85, 0.08);
}

.sidebar-list-active a h6 {
    color: rgb(0, 171, 85) !important;
}

.sidebar-list-icon {
    flex-shrink: 0;
    color: inherit;
    min-width: auto;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.sidebar-list a h6 {
    flex: 1 1 auto;
    min-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.collapsed-sidebar-item {
    flex-direction: column;
}

.collapsed-sidebar-item h6 {
    font-size: 10px !important;
    text-align: center;
}

.collapsed-sidebar-item .sidebar-list-icon {
    margin: 0 !important;
}

.root-content {
    padding: 70px 40px;
    width: 100%;
    overflow: hidden;
}

.topbar {
    top: 0;
    right: 0;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    z-index: 1001;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 768px) {
    .root-content {
        padding: 70px 15px !important;
    }

    .topbar {
        width: 100% !important;
    }
}